html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: STFangsong, Fangsong;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.vertical-text {
  writing-mode: vertical-rl;
  /* float: right; */
  box-shadow: -5px 0 5px #aaa;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.vertical-text h1, .vertical-text h3 {
  display: inline-block;
}

.divider {
  margin: 10px;
  border-top: 1px solid #222;
}

a {
  text-decoration: none;
  color: #222;
}

.clear-float {
  clear: both;
}

svg g {
  transform-origin: center;
}

svg rect {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

svg g:hover rect {
  opacity: 1;
  filter: url(#dropshadow);
}

.content {
  height: 100%;
  float: right;
  padding-right: 10px;
}
